description     "devpi-server - caching pypi proxy"

start on runlevel [2345]
stop on runlevel [!2345]
#manual

respawn

chdir {{aliasdir|abspath}}

exec {{aliasdir|abspath}}/bin/supervisord -n -c {{aliasdir|abspath}}/etc/supervisord.conf

