
[program:devpi-server]
command={{server_root}}/bin/devpi-server --host={{host}} --port={{port}} --serverdir={{serverdir|abspath}} --refresh={{refresh}}{% if debug|eval %} --debug{% endif %}{% if bypass_cdn|eval %} --bypass-cdn{% endif %}{% if outside_url %} --outside-url=outside_url{% endif %}
priority=999
startsecs = 5
redirect_stderr = True
autostart=True
autorestart=True
user = {{user}}
process_name = devpi-server

